# Backslash
It is continuation sign

In [3]:
print("Pratik ")

Pratik

In [7]:
print("Pratik \
Pallewar")

Pratik Pallewar

# Tripple Quotes
Used to write message as you want

In [10]:
print ("""
/ / / / / / / / /
/ / / / / / / / /
__,____,       
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -
""")

/ / / / / / / / /
/ / / / / / / / /
__,____,
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -

# String Inside the QuoteÂ¶
use of single quote

In [11]:
print("Hello world")

Hello world

In [14]:
print('Python's World')

SyntaxError: invalid syntax (<ipython-input-14-dd000971f821>, line 1)

In [15]:
print("Python's World")

Python's World

# Escape sequence of String
use of 
\ #space between words 
\n #next line
\'s #if you want to use single quote use it before grammer

In [16]:
print("Hello\tPython")

Hello	Python

In [18]:
print("Hello \n Python")

Hello
 Python

In [19]:
print('Python\'s world')

Python's world

# Formated output
multiple statements

In [23]:
name = "Pratik"
marks = 80.76
age = 20
print("The name of person is ", name, " marks are ", marks, " age is ", age)

The name of person is  Pratik  marks are  80.76  age is  20

In [24]:
print("The name of person is %s marks are %f age is %d"%(name, marks, age))

The name of person is Pratik marks are 80.760000 age is 20

In [25]:
print(f"The name of person is {name} marks are {marks} age is {age}")

The name of person is Pratik marks are 80.76 age is 20

# Variable
-a data item that may take on more than one value during the runtime of a program.

# Rules
-Cannot use keywords 
-cannot start with number 
-underscore and alphabets are allowed to start name#

In [46]:
x = 10

In [47]:
id(x)

140703440020144

In [48]:
y = 10

In [49]:
id(y)

140703440020144

In [50]:
del x

In [51]:
y

10

In [52]:
del y

# Python Operators
__Arithmetic Operator__

In [55]:
# Power
print(4**2)

16

In [56]:
# Addition
print(5+6)

11

In [57]:
# Subtraction
print(7-2)

5

In [58]:
# Multiplication
print(5*62)

310

In [59]:
# Division
print(100/33)

3.0303030303030303

In [63]:
# Floor division
print(100//33)

3

In [62]:
# Modulus
print(100/33)

3.0303030303030303

# Comparison Operator

In [66]:
a = 10
b = 10

In [67]:
# Equal to
a == b

True

In [68]:
# Less than
a < b

False

In [69]:
# Greater than
a > b

False

In [70]:
# Less than or Equal to
a <= b

True

In [71]:
# greater than or Equal to
a >= b

True

In [72]:
# Not equal to
a != b

False

# Assignment Operator

In [73]:
a = 10
b = 20

In [74]:
c = b

In [75]:
# Plus and equal
# c = c + a
c += a

In [76]:
# minus and equal
# a = a - b
a -= b

In [77]:
# Multiply and equal
# a = a * b
a *= b

In [78]:
# Divide and equal
# a = a / b
a /= b

In [79]:
# Power and equal
# a = a ** b
a **= 2

# Bitwise Operator

In [80]:
# OR
a = 240
b = 1
a | b
bin(a)

'0b11110000'

In [81]:
# AND
a & b

0

In [82]:
# Compliment
~ False

-1

In [83]:
# EX-OR
a ^ b

241

In [84]:
# Left shift
a << 3

1920

In [85]:
# Right shift
b >> 3

0

# Logical Operator

In [86]:
# And
a > 20 and 10 > 9

True

In [87]:
10 > 9 and 20 > M

NameError: name 'M' is not defined

In [88]:
10 < 9 and 20 > M

False

# Membership operator

In [89]:
# in
str1 = "Guruprasad"
"a" in str1

True

In [90]:
"x" in str1

False

In [91]:
# not in
"x" not in str1

True

In [92]:
"u" not in str1

False

# Identity OperatorsÂ¶

In [93]:
#is
a = 10
b = 10
a == b

True

In [94]:
a is b

True

In [95]:
c = 257
d = 257
c is d

False

In [96]:
# is not 
c is not d

True

# Operator Precedence

lambda if else or and not in, not in, is, is not, , >=, !=, == | ^ & <>+, - *, @, /, //, % +x, -x, ~x ** await x x[index], x[index:index], x(arguments...), x.attribute (expression...) [expressions...], {key:values}, {expression}

In [98]:
import os
os.getcwd()

'C:\\Users\\palle\\Python Essentials Batch-6'